<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="">
            <table class="table table-bordered" align="center">
                <thead align="center">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Photos</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody align="center">
                    <td th:text="${utilisateur.nom}">Nom</td>
                    <td th:text="${utilisateur.prenom}">Prénom</td>
                    <td th:text="${utilisateur.adresse}">Adresse</td>
                    <td th:text="${utilisateur.email}">Email</td>
                    <td>
                        <img th:src="@{/utilisateur/photo/{id}(id=${utilisateur.id})}" alt="Photo" style="width: 100px; height: 40px;" />
                    </td>
                    <td>
                        <a th:href="@{/utilisateur/view/{id}(id=${utilisateur.id})}" class="btn btn-info">Voir</a>
                        <a th:href="@{/utilisateur/edit/{id}(id=${utilisateur.id})}" class="btn btn-warning">Modifier</a>
                        <a th:href="@{/utilisateur/delete/{id}(id=${utilisateur.id})}" class="btn btn-danger" th:onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
